In [1]:
f = open("US_births_1994-2003_CDC_NCHS.csv")
data = f.read()
data = data.split('\n')
data[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [2]:
data = data [1:] #removing header

In [3]:
data[0:10]

['1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910',
 '1994,1,10,1,10498']

## Convert data into a List of list

In [4]:
def read_csv(input_file):
    f = open(input_file, 'r')
    data = f.read()
    data = data.split('\n')
    string_list = data[1:]
    final_list = []
    
    
    for row in string_list:
        string_fields = row.split(',')
        int_fields = []
        for element in string_fields:
            int_fields.append(int(element))
            
        final_list.append(int_fields)
                
    return final_list

In [5]:
cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')

In [6]:
cdc_list[:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

## Calculating the number of births in month

In [7]:
def month_births(list_of_list):
    births_per_month ={}
    for a_list in list_of_list:
        month = a_list[1]
        births = a_list[-1]
        
        if month in births_per_month:
            births_per_month[month] = births_per_month[month]+ births
        else:
            births_per_month[month] = births
            
    return births_per_month

In [8]:
cdc_month_births =month_births(cdc_list)

In [9]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

## Calculating Number Of Births Each Day Of Week

In [10]:
def dow_births(list_of_list):
    births_dow ={}
    for a_list in list_of_list:
        day_of_week = a_list[-2]
        births = a_list[-1]
        
        if day_of_week in births_dow:
            births_dow[day_of_week] = births_dow[day_of_week]+ births
        else:
            births_dow[day_of_week] = births
            
    return births_dow

In [11]:
cdc_day_births = dow_births(cdc_list)

In [12]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

## More general function

In [13]:
def calc_counts(list_of_list, column):
    births_calc ={}
    for a_list in list_of_list:
        key = a_list[column]
        births = a_list[-1]
        
        if key in births_calc:
            births_calc[key] = births_calc[key]+ births
        else:
            births_calc[key] = births
            
    return births_calc

In [14]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [15]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [16]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [17]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [18]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}